<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909094431177-f00co7bk41attavb4eehk62222b95lm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909094431177-f00co7bk41attavb4eehk62222b95lm9</string>
	<key>API_KEY</key>
	<string>AIzaSyAsyp-9h1g7wWPGRVJtMUgs6t9Oj7hyo64</string>
	<key>GCM_SENDER_ID</key>
	<string>909094431177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TobyTangney.Sustainable-Calculatorr</string>
	<key>PROJECT_ID</key>
	<string>sustainable-calculator-a0b61</string>
	<key>STORAGE_BUCKET</key>
	<string>sustainable-calculator-a0b61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909094431177:ios:889f3c54a65240b5e5e018</string>
</dict>
</plist>